*,::before,::after{ margin: 0; box-sizing: border-box;}
img{ vertical-align: bottom;}
button{ padding: 0; cursor: pointer;}
:disabled{ cursor: not-allowed;}
a{ text-decoration: none;}
ul{ list-style: none; padding: 0;}
iframe{ border: none;}
abbr[title]{ cursor: help;}

@font-face {
    font-family: proxima;
    src: url(../fonts/Proxima-Nova-Thin.woff2);
    font-weight: 100;
}
@font-face {
    font-family: proxima;
    src: url(../fonts/proximanova-bold.woff2);
    font-weight: 700;
}
@font-face {
    font-family: proxima;
    src: url(../fonts/proximanova-regular.woff2);
    font-weight: 400;
}

html{
    font-size: 15px;
    --ff: proxima, sans-serif;
    --red:#ca3c3c;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
body{
    font: 16px/1.3 var(--ff);
}

.container{ max-width: 1200px; margin: auto; padding: 0 1rem;}
.row{ display: flex; flex-flow: row wrap; margin: 0 -1rem;}
[class^="col-"]{ flex: 1 0 auto; padding: 0 1rem; }
.col-1{ flex-basis: 8.33%; max-width: 8.33% }
.col-2{ flex-basis: 16.66%; max-width: 16.66% }
.col-3{ flex-basis: 25%; max-width: 25%; }
.col-4{ flex-basis: 33.33%; max-width: 33.33%; }
.col-5{ flex-basis: 41.66%; max-width: 41.66%; }
.col-6{ flex-basis: 50%; max-width: 50%; }
.col-7{ flex-basis: 58.33%; max-width: 58.33%; }
.col-8{ flex-basis: 66.66%; max-width: 66.66%; }
.col-9{ flex-basis: 75%; max-width: 75%; }
.col-10{ flex-basis: 83.33%; max-width: 83.33%; }
.col-11{ flex-basis: 91.66%; max-width: 91.66%; }
.col-12{ flex-basis: 100%; max-width: 100%; }
.img-resp{ max-width: 100%; height: auto; }
.flex{ display: flex;}
.justify-space-bet{ justify-content: space-between; }
.align-item-center{ align-items: center;}

/* custom css */
header{background: #000; color: #fff; position: sticky; top: 0; z-index: 1; }
header h1{ font-size: 30px; line-height: 80px;}
header h1 a{ color: inherit; display: inline-block;}
header nav{ margin-left: -20px; }
header li{ margin: 0 5px; }
header nav a{ color: inherit; display: block; line-height: 80px; padding: 0 15px; }
.btn{ width: 90px; height: 35px; border: 2px solid; color: var(--red); background: none; border-radius: 10px; font: 16px var(--ff);}
.menu{ display: none;}
.menu span{ height: 2px; display: block; background: var(--red); margin: 6px 12px; transition: .5s; transform-origin: right center;}
.menu.active span:nth-child(1){ transform: rotate(-15deg); }
.menu.active span:nth-child(2){ opacity: 0; }
.menu.active span:nth-child(3){ transform: rotate(15deg); }



.banner{ background: #666; padding: 200px 0;}
.banner button{ font-size: 10rem; background: none; border: none; color: #fff; margin-right: 40px; }
.banner p{ color: #fff; font-size: 60px; font-weight: 100;}
.banner a{ color: var(--red);}


.wrap-3{ background: var(--red); color: #fff; padding: 50px 0;}
h2{ font-size: 72px; line-height: 60px; border-bottom: 10px solid; margin-bottom: 2rem;}
.feature .circle{ width: 100px; border: 2px solid; aspect-ratio: 1/1; display: grid; place-items: center; border-radius: 50%; font-size: 36px; margin-right: 2rem;}
.feature h3{ font-size: 16px; margin-bottom: 10px;}
.feature p{ font-weight: 100; font-size: 14px; line-height: 22px;}
.gap-y{ row-gap: 4rem;}


.wrap-4{ background: #fff; color: var(--red); font-size: 36px; text-align: center; line-height: 10rem;}


.wrap-5{ background: #ebebeb; color: #363636; padding: 100px 0;}
.wrap-5 .btn{ margin:0 10px 2rem 0;}
.wrap-5 .btn.active{ background: var(--red); color: #fff; border-color: var(--red); }
.portfolio{ position: relative; margin-top: 2rem; overflow: hidden;}
.caption{ position: absolute; left: 0; right: 0; bottom: -100px; background: #fff; opacity: 0; text-align: center; padding: 20px 0; transition: .4s;}
.portfolio:hover .caption{ opacity: 1; bottom: 0;}
.portfolio h3{ font-size: 18px; color: var(--red); line-height: 40px;}
.portfolio p{ font-size: 14px; color: #898989; font-weight: 100; line-height: 20px;}
.seemore{ color: var(--red); font-size: 36px; border: none; background: none; margin-top: 2rem;}


.wrap-6{ background: #666; color: #fff; padding: 4rem 0 2rem; text-align: center;}
.wrap-6 blockquote{ display: none; }
.wrap-6 blockquote:first-child{ display:block; }
.wrap-6 blockquote q{  font: 100 36px/41px var(--ff);  }
.wrap-6 blockquote img{ margin: 10px 0;}
.wrap-6 blockquote figcaption{ font-size: 16px; font-weight: bold;}
.wrap-6 .pager{ display: flex; justify-content: center; margin-top: 20px;}
.wrap-6 .pager li{ margin: 5px;}
.wrap-6 .pager li a{ display: block; width: 10px; height: 10px; border: 2px solid #fff; border-radius: 50%;}
.wrap-6 .pager li a.active{ background: #fff;}

.wrap-7{ background: #fff; color: #363636; padding: 100px 0;}
.team{ position: relative; margin-top: 50px;}
.social{ display: flex; position: absolute; left: 140px; top: 60px; }
.social li{ margin-right: 10px; }
.social li a{ display: block; width: 50px; height: 50px; background: var(--red); color: #fff; border-radius: 50%; display: grid; place-items: center; font-size: 24px; }
.gap{ margin: 50px 0 0 100px;}
.gap h3{ color: var(--red); font-size: 18px;}
.gap small{ font-size: #898989; font-size: 14px; font-weight: 100; }
.gap p{ font: 100 14px/22px var(--ff); color: #363636; margin-top: 1rem; }


.wrap-8{ background: #666; color: #fff; text-align: center; padding: 100px 0 50px;}
.wrap-8 span.fa{ font-size: 72px;}
.wrap-8 p{ font-size: 72px; font-weight: 100;}
.wrap-8 b{ font-size: 18px; margin-bottom: 50px; display: inline-block;}


.wrap-9{ background: #fff; color: #363636; padding: 100px 0;}
canvas{ width: 100%; background: #ccc; margin-top: 50px; }
.accordion{ margin-top: 50px;}
.accordion li{ margin-bottom: 10px;}
.accordion a{ display: block; border: 1px solid #ebebeb; color: #898989; padding: 12px; border-radius: 10px; }
.accordion a span.fa{ margin-right: 25px; }
.accordion a::after{ content: '+'; float: right;}
.accordion p{ display: none; font: 100 14px/22px var(--ff); margin: 20px;}
.accordion li:first-child p{ display: block;}
.accordion a.active{ color: var(--red); }
.accordion a.active::after{ content: '-';}


.wrap-10{ padding: 34px 0 35px; background: var(--red);}
.wrap-10 .btn{ background: #fff;}
.wrap-10 input{ height: 35px; width: 370px; background: none; border: none; color: #fff; font: 100 36px var(--ff);}
.wrap-10 input::placeholder{ color: #fff; }


.wrap-11{ background: #7f7f7f; padding: 27px 0 0 0;}
.box{ background: #a6a6a6; color: #fff; line-height: 95px; text-align: center; font-size: 20px; margin-bottom: 28px; }


.wrap-12{ background: #ebebeb; color: #363636; padding: 100px 0; }
.soc2{ display: flex; margin: 20px 0; }
.soc2 li{ margin-right: 10px; }
.soc2 a{ color: var(--red); }
.wrap-12 label{ display: block; border: 2px solid; color: #363636; padding: 17px; margin: 1rem 0;}
.wrap-12 input{ border: none; background: none; }
.wrap-12 textarea{border: none; background: none; resize: none; vertical-align: top; height: 42px; }
.wrap-12 button{ width: 100%; background: #fff; border: none; margin: 1rem 0; color: var(--red); height: 80px; border-radius: 10px; font-size: 16px; }
.wrap-12 button span{ font-size: 36px; vertical-align: middle;}
.wrap-12 :is(input, textarea):focus{ outline: none;}
.wrap-12 label:focus-within{ border-color: var(--red); }


.wrap-13{ background: #252525; color: #ccc; text-align: center; padding: 50px 0; }
.top{ background: none; border: none; font-size: 36px; color: var(--red);}

.overlay{ background: #000b; position: fixed; inset: 0; z-index: 10; }
.popup{ background: #fff; position: fixed; z-index: 11; padding: 10px; left: 50%; top: 100px; transform: translateX(-50%); width: 320px; }
.m10{ margin: 10px 0;}


@media screen and ( width<=1220px){
    html{ font-size: 13px;}
    h2{ font-size: 60px;}
}

@media screen and ( width<=980px){
.col-t-1{ flex-basis: 8.33%; max-width: 8.33% }
.col-t-2{ flex-basis: 16.66%; max-width: 16.66% }
.col-t-3{ flex-basis: 25%; max-width: 25%; }
.col-t-4{ flex-basis: 33.33%; max-width: 33.33%; }
.col-t-5{ flex-basis: 41.66%; max-width: 41.66%; }
.col-t-6{ flex-basis: 50%; max-width: 50%; }
.col-t-7{ flex-basis: 58.33%; max-width: 58.33%; }
.col-t-8{ flex-basis: 66.66%; max-width: 66.66%; }
.col-t-9{ flex-basis: 75%; max-width: 75%; }
.col-t-10{ flex-basis: 83.33%; max-width: 83.33%; }
.col-t-11{ flex-basis: 91.66%; max-width: 91.66%; }
.col-t-12{ flex-basis: 100%; max-width: 100%; }
.banner p{ font-size: 35px;}
.banner .flex{ flex-direction: column; }
.social{ flex-direction: column; left: auto; right: 0; top: 0;}
.social li{ margin: 0 0 10px 0; }
.gap{ margin-left: 50px; }
.col-t-hide{ display: none; }
.col-t-auto{ flex-basis: 20%; max-width: 20%; }
}


@media screen and ( width<=767px){
    html{ font-size: 12px;}
    .collapse{ display: none;}
    .wrap-5 .btn{ margin-right: 6px;}
    .col-t-auto{ flex-basis: 33.33%; max-width: 50%; }
    .col-m-6{ flex-basis: 50%; max-width: 50%; }
    .menu{ display: inline-block; position: absolute; right: 1rem; top: 2rem;}
    .collapse{ position: absolute; left: 0; right: 0; top: 80px; background: #000; padding: 1rem; text-align: right;}
    .collapse .flex{ display: block;}
    header nav a{ line-height: 40px;}
}

@media screen and ( width<=460px){
.col-p-1{ flex-basis: 8.33%; max-width: 8.33% }
.col-p-2{ flex-basis: 16.66%; max-width: 16.66% }
.col-p-3{ flex-basis: 25%; max-width: 25%; }
.col-p-4{ flex-basis: 33.33%; max-width: 33.33%; }
.col-p-5{ flex-basis: 41.66%; max-width: 41.66%; }
.col-p-6{ flex-basis: 50%; max-width: 50%; }
.col-p-7{ flex-basis: 58.33%; max-width: 58.33%; }
.col-p-8{ flex-basis: 66.66%; max-width: 66.66%; }
.col-p-9{ flex-basis: 75%; max-width: 75%; }
.col-p-10{ flex-basis: 83.33%; max-width: 83.33%; }
.col-p-11{ flex-basis: 91.66%; max-width: 91.66%; }
.col-p-12{ flex-basis: 100%; max-width: 100%; }
.portfolio img{ margin: auto; display: block;}
.wrap-10 input{ width: 240px; font-size: 24px;}
.col-t-auto{ flex-basis: 50%; max-width: 100%; }
}